/* font-family: 'Bruno Ace', cursive;
font-family: 'Italianno', cursive;
font-family: 'Signika', sans-serif;
font-family: 'Tilt Prism', cursive; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    text-decoration: none;
    list-style: none;
    cursor: default;
}

html{
  width: 100vw;
  height: 100vh;
}
body{
    background-color: #2A2539;
}

.nav_bar{
    width: 100vw;
    background: linear-gradient(185deg, rgba(255, 255, 255, 0.2),rgba(255, 255, 255, 0));
    height: 5vw;
    display: flex;
    vertical-align: middle;
    align-items: center;
    position: fixed;
    transition: 0.3s ease-in-out;
    backdrop-filter: blur(5px);
    z-index: 999;
}
.logonav{
    height: 5vw;
    margin-left: 10px;
}
.title {
    margin-left: 10px;
    font-family: 'Bruno Ace', cursive;
    color: #feedc4;
  }
.landing{
    background-image: url("./images/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	width: 100vw;
	vertical-align: middle;
	justify-content: center;
	overflow-y: hidden;
    display: flex;
    flex-direction: column;
}
  
  #layer1 {
    color: #feedc4;
    text-align: center;
    text-shadow: 2px 2px 2px black;
    font-size: 10vw;
    font-family: 'Bruno Ace', cursive;
  }
  #logo{
    width: 11vw;
    vertical-align: middle;
    margin-bottom: 2vw;
  }
  #layer2 {
    text-align: center;
    text-shadow: 2px 1px 2px #EFD28E;
    color: #2d1f00;
    font-size: 4vw;
    margin: 0.5em 0;
    padding-bottom: 2em;
    font-family: 'Italianno', cursive;
    letter-spacing: 0.1vw;
  }
  
  #travel1{
    top: 26vw;
    transform: translateX(55vw);
    width: 100vw;
    position: absolute;
  }
  #travel2{
    top: 26vw;
    transform: translateX(-55vw);
    /* margin-right: 55vw; */
    width: 100vw;
    position: absolute;
  }
.main{
    display: inline-flex;
}
  h3{
    font-size: 3vw;
    font-family: 'Tilt Prism', cursive;
    color: #C9753D;
    margin: 3vw;
    letter-spacing: 2px;
  }
.team_desc{
    display: flex;
justify-content: center;
    width: 50vw;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
}
.team_desc img{
  position: relative;
  width: 45vw;
}
.teamd{
    width: 50vw;
    align-items: center;
}
.content{
  color: #0A1533;
  font-family: 'Signika', sans-serif;
  position: absolute;
  margin: 8vw 9vw;
  text-align: justify;
  font-size: 1.1vw;
}
.content img{
  width: 7vw;
  margin: 3vw;
margin-left: 9vw;
}
.team_mem{
  padding: 3vw;
}
.team_mem img{
    width: 10vw;
    display: flex; 
}
.teamm h3{
  margin-left: 0;
}
.teamm {
    display: flex;
    flex-direction: column; 
    align-items: center; 
  }
  .yazh,.mems{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
  }
.second{
  display: flex;
  flex-direction: row;
}
.mems p, .yazh p{
  margin: 10px;
  display: flex;
  flex-direction: row; 
  font-family: 'Signika', sans-serif;
  justify-content: center;
  color: #EFD28E;
  display: flex;
  vertical-align: middle;
  align-items: center;
  font-size: 2vw;
}
.details{
  display: flex;
}
.prblmcon{
  color: #EFD28E;
  font-family: 'Signika', sans-serif;
  width: 40vw;
  margin: 2vw;
  margin-left: 5vw;
  text-align: left;
  font-size: 1.4vw;
  line-height: 3.5vh;
}
.arrowimg{
  width: 10vw;
  margin-top: 7vw;
}
.motidiv h3{
  text-align: right;
}
.motidiv{
  width: 40vw;
}
.moticon{
  color: #EFD28E;
  font-family: 'Signika', sans-serif;
  width: 35vw;
  margin: 2vw;
  margin-right: 5vw;
  text-align: right;
  font-size: 1.4vw;
  line-height: 3.5vh;
}
.titlecontext{
  display: inline-flex;
  align-items: baseline;
}
.pointer{
  width: 1.3vw;
  margin-left: 0.5vw;
  vertical-align: middle;
  cursor: pointer;
}
.titlecontext a{
  font-family: 'Italianno', cursive;
  font-size: 2vw;
  vertical-align: middle;
  color: #EFD28E;
  cursor: pointer;
}
.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-gap: 10px; */
}

.image-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image-item img {
  max-width: 90%;
  max-height: 90%;
  cursor: pointer;
}
.image-item h5{
  font-family: 'Signika', sans-serif;
  color: #feedc4;
  font-size: 1.5vw;
  text-align: center;
  margin: 0 2vw;
}
.image-item a{
  margin-bottom: -1vw;
  margin-top: 4vw;
  text-align: center;
}
.image-item a img:hover{
  transition: 0.5s ease-in-out;
  transform: rotate(360deg);
}
#distmap{
text-align: center;
}
iframe{
width: 90vw;
height: 90vh;
margin-bottom: 4vw;
}
  .bottom{
    text-align: center;
    vertical-align: middle;
    color: white;
    font-family: 'Signika', sans-serif;
    text-shadow: 2px 1px 1px black;
    padding-top: 50px;
    margin: 30px 0;
  }